body{
    font-family: 'HK grotesk';
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex{
    display: flex;
    align-items: center;
}

.nav-logo{
    margin-left: 150px;
}

.timeline-date{
    margin: 0%;
    color: #003B5C;
    font-size: 12px;
    font-family: 'HK Grotesk';
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4px;
    text-align: left;
}

.timeline-city{
    margin: 0%;
    color: #9E9896;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4px;
    text-align: left;
}

.nav-info-button{
    text-decoration: none;
    color: #003B5C;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4px;
    text-align: left;
    margin-right: 38px;
}

.line{
    border: 1px solid #F6F3EE;
    margin: 22px 0px 15px 0px;
}

.menu-info{
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

.menu-choice{
    text-decoration: none;
    color: #003B5C;
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
    font-weight: 600;
    font-weight: bold;
}

.block{
    margin-bottom: 230px;
}

.block-item{
    display: flex;
    justify-content: center;
    position: relative;
    gap: 30px;
}

.item-one{
    display: flex;
}

.car-info{
    display: flex;
    justify-content: center;
    background-color: white;
    position: absolute;
    flex-direction: column;
    width: 520px;
    margin: 0px 117px 0px 117px;
    top: 90%;
}

.car-post{
    display: flex;
    justify-content: center;
}

.item-info-title{
    color: #003B5C;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4px;
    text-align: center;
    font-weight: bold;
}

.item-info-text{
    color: #9E9896;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4px;
    text-align: center; 
}

.item-info-detail{
    color: #003B5C;
    font-family: "Libre Baskerville";
    width: 90%;
    margin: 0px;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.4px;
    text-align: center; 
}

.item-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-info-detail-text{
    color: #5D534F;
    font-family: "Libre Baskerville";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
    text-align: center; 
}

.item-two{
    display: flex;
    justify-content: flex-end;
}

.alcohol-item{
    height: 335px;
}

.alcohol-item img{
    max-height: 100%;
}

.alcohol-info{
    display: flex;
    justify-content: center;
    background-color: white;
    position: absolute;
    flex-direction: column;
    width: 480px;
    margin: 0px 10px 0px 20px;
    top: 62%;
}

.alcohol-post{
    display: flex;
    justify-content: center;
}

.item-more{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.item-more-info{
    color: #E74832;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4px;
    font-weight: bold;
}

.line-separation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.little-line{
    border: 1px solid #E5DBD1;
    width: 42%;
    margin: 0px 1% 0px 1%;
}

.title-separation{
    color: #003B5C;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 0px 0px;
    border: 1px solid #E5DBD1;
    box-shadow: 2px 2px #E5DBD1;
    font-weight: 500;
    margin-top: 10px;
    font-weight: bold;
}

.text-title{
    display: flex;
    text-align: center;
    justify-content: center;
}

.between-text{
    display: flex;
    justify-content: center;
    margin-left: 600px;
}

.text-info{
    color: #5D534F;
    text-align: center;
    line-height: 15px;
    font-size: 12.03px;
    margin-left: 40px;
    margin-top: 20px;
    letter-spacing: 0.4px;
    font-weight: bold;
}

.separation-item-more{
    margin-left: 500px;    
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.block-articles{
    display: flex;
    justify-content: center;
    height: 450px;
    max-height: 100%;
    gap: 10px;
}

.watches{
    display: flex;
    justify-content: space-between;
}

.articles-info{
    display: flex;
    text-align: center;
}

.articles-title{
    color: #003B5C;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4px;
    text-align: center;
    font-weight: bold;
}

.articles-text{
    color: #9E9896;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4px;
    text-align: center; 
    text-transform: uppercase;
}

.articles-details{
    color: #003B5C;
    font-family: "Libre Baskerville";
    width: 406px;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 31px;
    letter-spacing: -0.4px;
    margin: 0%;
}

.cheat{
    color: white;
    font-size: 22px;
}